$primary: violet;
$secondary: indigo;
$success: blue;
$info: green;
$warning: yellow;
$danger: orange;
$light: red;
$dark: cyan;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// body {
//   background-color: orange;
// }
